.THIS {
}
 .THIS .step1 {  
   width:310px;  
 }  
 .THIS .step2 {  
   width:610px;  
 }  
 .THIS .step3 {  
   width:920px;  
 }  
 
 .THIS .tooltip {  
   display: none;  
 }  
 .THIS .default {  
   width:0px;  
 }